* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #242424;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
  font-size: x-large;
}

.page-title {
  font-weight: 800;
  color: #138fe2;
}

.function-form {
  font-weight: 550;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.values-input {
  padding: 2.5px;
  border-radius: 6px;
  font-size: 0.9em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f0f0f0;
}

.values-input:hover {
  background-color: #e6e6e6;
}

#calculate-button {
  padding: 4px 10px;
}

#result {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.result div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.stron {
  font-weight: 550;
}

footer {
  position: fixed;
  bottom: 0px;
  padding: 7px;
  background-color: #242424;
  font-size: x-small;
}

img {
  max-width: 100%;
}

@media screen and (orientation: landscape) {
  #result {
    flex-direction: row;
  }
}
