/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 20px;
}

body {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3rem;
  color: #ffffff;
}

/* Generic */

.bold {
  font-weight: 550;
}

.non-display {
  display: none;
}

/* Main title */

header {
  text-align: center;
}

#page-title {
  margin: 1.5rem 0;
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
  color: #3F88C5;
}

main {
  text-align: center;
}

/* Formula div */

#formula {
  margin: 1.75rem 0;
}

/* Form and inputs */

.form-group {
  margin: 0 0 1.25rem 0;
}

.data-inputs {
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-size: 0.9em;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

.data-inputs:focus {
  background-color: #e1e1e1;
}

.invalid-input {
  border: solid 0.1rem #d00000;
}

.invalid-feedback {
  margin: 0.4rem auto;
  width: max-content;
  padding: 0.2rem 0.4rem;
  background-color: #d00000;
  font-size: 0.7em;
}

.btn{
  margin: 0.5rem;
  width: 6rem;
  padding: 0.375rem 0.5rem;
  font-size: 1em;
}

#calculate-btn {
  background-color: #0C6291;
  color: #ffffff;
}

#calculate-btn:hover {
  border: solid 0.1rem #0C6291;
  color: #0C6291;
  background: transparent;
}

#reset-btn {
  background-color: #DCDCDD;
}

#reset-btn:hover {
  border: solid 0.1rem #DCDCDD;
  color: #DCDCDD;
  background: transparent;
}

/* Output */

#output {
  margin: 2rem 0;
}

.output-group {
  margin: 0 0 1rem 0;
}

.output-heading {
  margin: 0 0 0.5rem 0;
}

#roots {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

svg {
  max-width: 90%;
  height: auto;
}

/* In medium screens */

@media screen and (min-width: 768px) {
  #page-title {
    font-size: 2.5em;
  }
}
