footer {
  text-align: center;
  padding: 1.5rem 0 0.5rem 0;
  font-size: 0.7rem;
}

footer a:link {
  color: #3f88c5;
}

footer a:visited {
  color: #3f88c5;
}

footer a:hover {
  text-decoration: underline;
}
