/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 20px;
}

body {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3rem;
  color: #ffffff;
}

/* Generic */

.bold {
  font-weight: 550;
}

.non-display {
  display: none;
}

/* Page title */

#page-header {
  margin: 1.5rem 0;
  text-align: center;
}

#page-title {
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
  color: #3f88c5;
}

/* Main content */

main {
  text-align: center;
}

/* Formula div */

#formula {
  margin: 1.75rem 0;
}

/* Form and inputs */

.form-group {
  margin: 0 0 1.25rem 0;
}

.data-inputs {
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-size: 0.9em;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

.data-inputs:focus {
  background-color: #e1e1e1;
}

.invalid-input {
  border: solid 0.1rem #d00000;
}

.invalid-feedback {
  margin: 0.4rem auto;
  width: max-content;
  padding: 0.2rem 0.4rem;
  background-color: #d00000;
  font-size: 0.7em;
}

.btn {
  margin: 0.5rem;
  width: 6rem;
  padding: 0.375rem 0.5rem;
  font-size: 1em;
  border: solid 0.1rem transparent;
  cursor: pointer;
}

#calculate-btn {
  background-color: #0c6291;
  color: #ffffff;
}

#calculate-btn:hover {
  border-color: #0c6291;
  color: #0c6291;
  background: transparent;
}

#reset-btn {
  background-color: #dcdcdd;
}

#reset-btn:hover {
  border-color: #dcdcdd;
  color: #dcdcdd;
  background: transparent;
}

/* Output */

#output-data {
  margin: 2rem 0;
}

.output-group {
  margin: 0 0 1rem 0;
}

.output-heading {
  margin: 0 0 0.5rem 0;
}

#roots {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

#graph {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  max-width: 90vw;
}

/* In medium screens */

@media screen and (min-width: 768px) {
  body {
    padding: 1rem 0;
  }
  #page-title {
    font-size: 2.5em;
  }
  #graph {
    width: 640px;
  }
}
