* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #121212;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: .9px;
  font-size: 20px;
  line-height: 1.3;
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  text-align: center;
}

#page-title {
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
  color: #00a8cc;
}

#function-form {
  font-weight: 550;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.data-inputs {
  padding: 3px;
  border-radius: 6px;
  font-size: 0.9em;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

.data-inputs:hover {
  background-color: #e1e1e1;
}

.invalid-input {
  border: solid 3px #c62828;
}

.invalid-message {
  margin: 8px;
  padding: 2px 8px;
  background-color: #c62828;
  font-size: .7em;
}

#calculate-button {
  font-size: 1em;
  background-color: #b1b1b1;
  padding: 4px 10px;
}

#calculate-button:hover {
  background-color: #9e9e9e;
}

#output {
  display: inherit;
  flex-direction: column;
  align-items: inherit;
  gap: 15px;
}

#textual-output {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  gap: 12px;
}

.textual-output-group {
  display: inherit;
  flex-direction: column;
  align-items: inherit;
  gap: 8px;
}

.strong-class {
  font-weight: 550;
}

svg {
  max-width: 100%;
}

@media screen and (orientation: landscape){
  #page-title {
    font-size: 2.5em;
  }
}
