* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #242424;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  text-align: center;
  font-size: x-large;
}

#page-title {
  font-weight: 800;
  color: #138fe2;
}

#function-form {
  font-weight: 550;
}

#input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.values-input {
  padding: 2.5px;
  border-radius: 6px;
  font-size: 0.9em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f0f0f0;
}

.values-input:hover {
  background-color: #e6e6e6;
}

#calculate-button {
  padding: 4px 10px;
}

#result {
  display: inherit;
  flex-direction: column;
  align-items: inherit;
  gap: 15px;
}

#textual-result {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  gap: 10px;
}

#textual-result div {
  display: inherit;
  flex-direction: column;
  align-items: inherit;
  gap: 7px;
}

.strong-class {
  font-weight: 550;
}

svg {
  max-width: 100%;
}

@media screen and (orientation: landscape) {
  #textual-result {
    gap: 20px;
  }
  #textual-result div{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}
